// base
$font-family: Arial, Helvetica, sans-serif;
$font-size: 1em;

// grid
$columns: 12;
$col-tag: '','-sm','-md','-lg','-xl';

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;