.lui-button {
  cursor: pointer;
  font-size: var(--button-font-size, var(--font-size, 1em));
  font-family: var(--button-font-family, var(--font-family, "Arial, Helvetica, sans-serif"));
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  border-style: var(--button-border-style);
  border-width: var(--button-border-width);
  color: var(--button-foreground-color);

  &.lui-button--natural {
    &:hover {
      background: var(--button-hover-background-color);
    }
  }

  &.lui-button--outline {
    background: none;

    &:hover {
      background: var(--button-hover-background-color);
    }
  }

  &.lui-button--no-border {
    border: none;

    &:hover {
      background: var(--button-hover-background-color);
    }
  }

  &.lui-button--as-link {
    background: none;
    border: none;

    &:hover {
      text-decoration: underline;
    }
  }

}